body {
  font-family: fantasy;
  width: 500px;
  margin: 0 auto;
}

p {
  background: rgb(150 84 255 / 30%);
  border: 2px solid rgb(30 200 230);
  padding: 10px;
  margin: 10px;
}

span {
  background: ghostwhite;
  border: 1px solid gold;
}
article {
  padding: 10px;
  margin: 10px;
  background: aqua;
}
